<h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    3.0
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    4.0
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    3.4641362378164047
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
