<form action="/square/results">
  </div>
    <label for="square_number">Enter a number</label>
  </div>

  <div>
    <input id="square_number" type="text" name="square_with_form">
  </div>

  <div> <button>Calculate square</button></div>
</form>
